<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- ------ -->
	<!-- ACTION -->
	<!-- ------ -->
	<div th:fragment="action(action, icon)" th:object="${action}" class="action">
		<!-- Text -->
		<i class="bi bullet" th:classappend="${icon}"></i>
		<span class="text">[[*{action}]]</span>
		
		<!-- Requirements -->
		<span th:if="*{!#lists.isEmpty(requirements)}" class="requirements" bs:inlineFlex>
			<strong>[</strong>
			<th:block th:each="requirement : *{requirements}" th:object="${requirement}">
				<span th:if="*{status} != null">
					<i class="bi bi-check-lg text-success align-middle"></i> Estado <strong>«[[*{status.name}]]»</strong>
				</span>
				<span th:if="*{secret} != null">
					<i class="bi bi-check-lg text-success align-middle"></i> Secreto <strong>«[[*{secret.name}]]» ([[*{secret.id}]])</strong>
				</span>
				<span th:if="*{menhir} != null">
					<i th:if="*{menhir}" class="bi bi-check-lg text-success align-middle"></i>
					<i th:if="*{!menhir}" class="bi bi-x-lg text-danger align-middle"></i>
					<strong>Menhir</strong>
				</span>
				<span th:if="*{attribute} != null" class="attribute">
					[[*{attribute.level}]]
					<img th:src="@{/img/attributes/{id}.png(id=*{#strings.toLowerCase(attribute.id)})}">
				</span>
			</th:block>
			<strong>]</strong>
		</span>

		<!-- Dash -->
		<i class="bi bi-dash"></i>

		<!-- Description -->
		<span th:if="*{description}" class="description">[[*{description}]].</span>

		<!-- Go to verse -->
		<span class="go-to-verse">Ve al Versículo [[*{goToVerse}]].</span>
	</div>
</body>
</html>