<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>
	<!-- -------- -->
	<!-- LOCATION -->
	<!-- -------- -->
	<div th:fragment="location(location)" th:object="${location}" th:id="|location_*{id}|" class="location">
		<!-- Title -->
		<h1 class="title gap-3" bs:flex bs:flexAlign="baseline">
			<div class="id">[[*{id}]]</div>
			<div>-</div>
			<div class="name">[[*{name}]]</div>
		</h1>

		<!-- Introduction -->
		<div class="introduction">
			[[*{introduction}]]
		</div>

		<!-- Redirects -->
		<div class="actions">
			<th:block th:each="redirect : *{redirects}">
				<th:block th:replace="~{fragments/action :: action(${redirect}, 'bi-circle-fill')}"></th:block>
			</th:block>
		</div>

		<!-- Actions -->
		<div class="actions">
			<th:block th:each="action : *{actions}">
				<th:block th:replace="~{fragments/action :: action(${action}, 'bi-circle')}"></th:block>
			</th:block>
		</div>

		<!-- Verses -->
		<div class="verses">
			<th:block th:each="verse : *{verses}">
				<th:block th:replace="~{fragments/verse :: verse(${verse.key},${verse.value},false)}"></th:block>
			</th:block>
		</div>
		
		<!-- Dream & nightmare -->
		<bs:card class="dream-nightmare">
			<bs:cardBody>
				<th:block th:replace="~{fragments/verse :: verse('SUEÑO',*{dream},true)}"></th:block>
				<th:block th:replace="~{fragments/verse :: verse('PESADILLA',*{nightmare},true)}"></th:block>
			</bs:cardBody>
		</bs:card>
	</div>
</body>
</html>