
/* -------- */
/* LOCATION */
/* -------- */

.location {
	margin-top: 2rem;
	margin-bottom: 2rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.location > .title {
	margin-bottom: 0;
	font-family: var(--font-celtic-garamond);
	font-size: 20pt;
	font-weight: bold;
	text-transform: uppercase;
}

.location > .title .name::first-letter {
	font-size: 1.5em;
}

.location .introduction {
	font-family: var(--font-blacker-text);
	font-style: italic;
	font-size: 11pt;
}


/* ----------------- */
/* DREAM & NIGHTMARE */
/* ----------------- */

.dream-nightmare {
	margin-top: 2rem;
}

.dream-nightmare .card-body {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.dream-nightmare .title {
	font-size: 11pt;
	text-align: center;
}

.dream-nightmare .title::first-letter {
	font-size: 1.25em;
}
